
<div class="container mt-5" style="min-height:640px">

    <h1 class="text-danger">Payment Failed</h1>
    <p>There was an error processing your payment. Please try again later.</p>
    <!-- Add any additional content or instructions here -->
</div>
