@model IEnumerable<Movie>
    <style>
        /* Custom CSS for DataTable */
        #movieTable .image-column,
        #movieTable .video-column {
            width: 15%; /* Set the width for image and video columns */
            height: 150px; /* Set the height for image and video columns */
            vertical-align: middle; /* Center content vertically */
            text-align: center; /* Center content horizontally */
        }

        #movieTable .image-element,
        #movieTable .video-element {
            max-width: 100%; /* Ensure image and video fit within their containers */
            max-height: 100%; /* Ensure image and video fit within their containers */
        }

        #movieTable .button-column {
            width: 15%; /* Set the width for button column */
        }
    </style>
<div class="container my-5" style="min-height:840px">
    <h3 class="text-dark">Manage Movie</h3>
    <hr />
    <div class="d-flex w-100 my-5 justify-content-end">
        <a class="btn btn-dark mx-2" asp-controller="Movie" asp-action="Create">
            <i class="bi bi-plus-circle"></i>
            Add new Movie
        </a>
    </div>

    <table id="movieTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Trailer</th>
                <th>ReleaseDate</th>
                <th>EndDate</th>
                <th>Manage</th>
            </tr>

        </thead>
        
    </table>
    <div class="d-flex w-100 my-5 justify-content-start error-actions">
        <a class="btn btn-warning mx-2" asp-area="Customer" asp-controller="Home" asp-action="Index">
            <i class="bi bi-house"></i> Back to Home
        </a>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/movie.js"></script>       
    
}

